.none {
    display: none !important;
}

.open {
    display: block !important;
}

.container {
    max-width: 1050px;
    margin: 60px 115px 80px 115px;

    @include mediaTablet {
        max-width: 690px;
        margin: 40px 75px;
    }

    @include mediaPhone {
        max-width: 315px;
        margin: 40px 30px;
    }
}

.titles-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    max-width: 1050px;
    
    @include mediaTablet {
        max-width: 690px;
        margin: 0;
    }

    @include mediaPhone {
        max-width: 315px;
        justify-content: center;
    }
}

.title {
    font-family: $work;
    font-weight: 600;
    font-size: 38px;
    color: $text;

    
    @include mediaTablet {
        font-size: 28px;   
    }
}

.subtitle {
    display: flex;
    align-items: center;
    font-family: $work;
    font-size: 22px;
    color: $text;

    
    @include mediaTablet {
        font-size: 16px;
    }
}


.navigathion-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 152px;
    height: 60px;
    background: $call-to-action;
    border-radius: 20px;
    transition: all 0.5s;

    a {
        font-family: $work;
        font-size: 16px;
        font-weight: 600;
        color: $text;
    }

    :hover {
        color: $text !important;
    }

}

.navigathion-btn:hover {
    background: none;
    border: 1px $call-to-action solid;
}

.ctaborder-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 247px;
    height: 60px;
    font-family: $work;
    font-weight: 600;
    font-size: 16px;
    color: $text;
    border: 1px $call-to-action solid;
    border-radius: 20px;
    transition: all 0.5s;
    
    :hover {
        color: $text !important;
    }

    @include mediaTablet {
        width: 187px;
    }
}

.ctaborder-btn:hover {
    background: $call-to-action;
    border: none;

    .creators-btn-icon {
        display: none;
    }

    .icon-hover{
        display: block;
    }
}

.icon-hover{
    display: none;
}

.ctaborder-btn-phone {
    display: none;

    @include mediaPhone {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        width: 315px;
        height: 60px;
        font-family: $work;
        font-weight: 600;
        font-size: 16px;
        color: $text;
        border: 1px $call-to-action solid;
        border-radius: 20px;
    }
}

.cta-phone {
    display: none;

    @include mediaPhone {
        display: block;
    }
}

.cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 224px;
    height: 60px;
    color: $text;
    background: $call-to-action;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    transition: all 0.5s;
    
    @include mediaPhone {
        width: 315px;
    }
}

.cta-btn:hover {
    background: none;
    border: 1px $call-to-action solid;
}

.form {
    background: $text;
    width: 425px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px 20px 20px;

    ::placeholder{
        font-family: $work;
        font-size: 16px;
        color: $background;
    }
}

.form-btn {
    width: 211px;
    height: 60px;
    background: $call-to-action;
    border-radius: 20px;
    color: $text;
    font-family: $work;
    font-weight: 600;
    font-size: 16px;
    z-index: 10;
}  

.gb {
    gap: 220px;

    @include mediaTablet {
        gap: 20px;
    }

    @include mediaPhone {
        gap: 0;
    }
}

.gm {
    gap: 550px;

    @include mediaTablet {
        gap: 285px;
    }
}


.activ {
    color: $text !important;
}

.line {
    background: $caption;
    width: 202px;
    height: 3px;

    @include mediaTablet {
        width: 170px;
    }

    @include mediaPhone {
        width: 107px;
    }
}

.green {
    color: $green !important;
}

.tabnone {

    @include mediaTablet{
        display: none !important;
    }
}

.phonenone {

    @include mediaPhone {
        display: none !important;
    }
}
