.browse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;

    @include mediaTablet {
        gap: 40px;
    }
}

.browse-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @include mediaPhone {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

.browse-card {
    display: flex;
    flex-direction: column;
    position: relative;

    .card-title {
        background: $background---secondary;
        border-radius: 0 0 20px 20px;
        z-index: 2;

        @include mediaTablet {
            font-size: 16px;
        }
        
        p{
            padding: 30px 20px 30px 25px;
            font-family: $work;
            font-size: 22px;
            font-weight: 600;
            color: $text;
                
            @include mediaTablet {
                font-size: 16px;
                padding: 20px 20px 25px 20px;
            } 
        }
    }
}

.browse-card-bg {
    width: 240px;
    height: 240px;
    overflow: hidden;
    z-index: 1;

    @include mediaTablet {
        width: 150px;
        height: 142px;
    }
}

.browse-card-icon {
    position: absolute;
    top: 70px;
    bottom: 70px;
    left: 70px;
    right: 70px;

    @include mediaTablet {
        width: 80px;
        height: 80px;
        top: 31px;
        bottom: 31px;
        left: 35px;
        right: 35px;
    }
}

.blur {
    border-radius: 20px;
    width: 240px;
    height: 240px;
    filter: blur(7px);
    z-index: 0;

    @include mediaTablet {
        width: 150px;
        height: 142px;
    }
}